
<h1>followers</h1>

<% @users.each do |user| %>

<table>
<tr>
  <td>  
  <%= gravatar_for @user %>
  <%= user.name %> 
  </td>
  <td><%= link_to '詳細', user_path(user) %></td>
</tr>

</table>
<br>
<% end %>